{% extends '@Admin/Default/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/jquery.bootgrid.min.css') }}">
{% endblock %}

{% block javaScripts %}
    <script src="{{ asset('assets/vendor/js/jquery.bootgrid.min.js') }}"></script>
    <script>
        var grid = $("#grid-basic").bootgrid({
            formatters: {
                "sections": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-md btn-info command-view\" data-row-id=\'" + row.id + "\'><span class=\"fa fa-eye\"></span></button> ";
                },
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-md btn-warning command-edit\" data-row-id=\'" + row.id + "\'><span class=\"fa fa-pencil\"></span></button> " +
                            "<button type=\"button\" class=\"btn btn-md btn-danger command-delete\" data-row-id=\'" + row.id + "\'><span class=\"fa fa-trash-o\"></span></button> ";
                }
            }
        });
        grid.on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".command-edit").on("click", function (e) {
                var route = "{{ path('admin.updateCourse', { 'id': "__placeholder" }) }}";
                window.location = route.replace("__placeholder", $(this).data("row-id"));
            }).end().find(".command-delete").on("click", function (e) {
                var id = $(this).data("row-id");
                confirmDelete(id,
                        function () {
                            var route = "{{ path('admin.deleteCourses', { 'id': "__placeholder" }) }}";
                            window.location.href = route.replace("__placeholder", id);
                        }
                )
            }).end().find(".command-view").on("click", function (e) {
                var route = "{{ path('admin.viewSections', { 'courseId': "__placeholder" }) }}";
                window.location.href = route.replace("__placeholder", $(this).data("row-id"));
            });
        });
    </script>
{% endblock %}

{% block title %}
    WEB-CAG : Courses
{% endblock %}

{% block navbarlistitems %}
    <li>
        <button type="button" class="btn btn-success navbar-btn  navbar-custom-button"
                onclick="window.location.href='{{ path('admin.createCourse') }}'">
            Create Course
        </button>
    </li>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="table-responsive">
            <table id="grid-basic" class="table table-hover">
                <thead>
                <tr>
                    <th data-column-id="id" data-identifier="true">ID</th>
                    <th data-column-id="title">Course Title</th>
                    <th data-column-id="semester" data-type="numeric">Semester</th>
                    <th data-column-id="sections" data-formatter="sections" data-sortable="false" data-width=10%>
                        Sections
                    </th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false" data-width=10%>
                        Course
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.courseId }}</td>
                        <td>{{ course.title }}</td>
                        <td>{{ course.semester }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}