<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}WEB-CAG{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('assets/vendor/css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        body {
            visibility: hidden;
        }
    </style>
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>

{% block body %}
{% endblock %}

<!-- jQuery -->
<script src="{{ asset('assets/vendor/js/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('assets/vendor/js/bootstrap.min.js') }}"></script>

{% block javascripts %}{% endblock %}
<script>
    jQuery(document).ready(function(){
        jQuery("body").css("visibility","visible");
    });
</script>
</body>
</html>
