{% extends '@App/base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/custom/css/sign-in.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/js/jquery.shuffleLetters.js') }}"></script>
    <script src="{{ asset('assets/custom/js/index.js') }}"></script>
    <script src="{{ asset('assets/custom/js/sign-in-animate-text.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-xs-1 vcenter fill-height"></div>
        <div class="col-xs-5 vcenter fill-width" align="center">
            <img src="{{ asset('assets/custom/img/web-cag-logo.png') }}" alt="logo" style="width:150px; height:150px;" class="logo">
            <div class="web-cag"><div class="animate-text"></div></div>
        </div>
        <div class="col-xs-5 vcenter fill-width" align="center">
            <form class="form-signin" method="post">
                <label class="sr-only" for="username">Username</label>
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"
                       placeholder="Username" required="" autofocus=""/>

                <label class="sr-only" for="password">Password</label>
                <input type="password" id="password" class="form-control" name="_password" placeholder="Password"
                       required=""/>

                <button class="btn btn-lg btn-default btn-block btn-signin" type="submit">CONNECT</button>
            </form>
        </div>
    </div>
{% endblock %}