{% extends '@Teacher/Default/index.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javaScripts %}
    <script>
        function updateSectionCombo() {
            removeOptions(document.getElementById("sectionSelect"));
            var courseId = $("#courseSelect option:selected").val();
            var route = "{{ path('teacher.getSections', {'courseId' : "__placeholder"}) }}".replace("__placeholder", courseId);
            $.getJSON(route, function (json) {
                $.each(json, function (i, optionHtml) {
                    $('#sectionSelect').append('<option value="' + i + '">' + optionHtml + '</option>');
                });
                updateStudentsCombo();
            });
        }
        function updateStudentsCombo() {
            removeOptions(document.getElementById("studentSelect"));
            var sectionId = $("#sectionSelect option:selected").val();
            var route = "{{ path('teacher.getStudents', {'sectionId' : "__placeholder"}) }}".replace("__placeholder", sectionId);
            $('#btnStudentReport').prop('disabled', true);
            $('#btnSectionReport').prop('disabled', true);
            $('#btnSectionGradeReport').prop('disabled', true);
            $.getJSON(route, function (json) {
                $.each(json, function (i, optionHtml) {
                    $('#studentSelect').append('<option value="' + i + '">' + optionHtml + '</option>');
                });
                var length = $('#studentSelect > option').length;
                if (length > 0) {
                    $('#btnStudentReport').prop('disabled', false);
                    $('#btnSectionReport').prop('disabled', false);
                    $('#btnSectionGradeReport').prop('disabled', false);
                }
            });
        }
        function removeOptions(selectElement) {
            var i;
            for (i = selectElement.options.length - 1; i >= 0; i--)
                selectElement.remove(i);
        }
        function viewSectionReport() {
            var sectionId = $("#sectionSelect option:selected").val();
            window.location = "{{ path('teacher.viewSectionReport', {'sectionId' : '__placeholder'}) }}"
                    .replace("__placeholder", sectionId);
        }
        function viewSectionGradeReport() {
            var sectionId = $("#sectionSelect option:selected").val();
            window.location = "{{ path('teacher.viewSectionGradeReport', {'sectionId' : '__placeholder'}) }}"
                    .replace("__placeholder", sectionId);
        }
        function viewStudentReport() {
            var sectionId = $("#sectionSelect option:selected").val();
            var username = $("#studentSelect option:selected").text();
            window.location = "{{ path('teacher.viewStudentReport', {'username' : '__placeholder0', 'sectionId' : '__placeholder1'}) }}"
                    .replace("__placeholder1", sectionId)
                    .replace("__placeholder0", username);
        }
        $(function () {
            updateSectionCombo();
        });
    </script>
{% endblock %}

{% block title %}
    WEB-CAG : Report
{% endblock %}

{% block navbarlistitems %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">Form</div>
            <div class="panel-body">
                <form method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Course</label>
                        <div class="col-xs-7 selectContainer">
                            <select id="courseSelect" class="form-control" name="course"
                                    onchange='updateSectionCombo($(this).find("option:selected").val())'>
                                {% for vals in courses %}
                                    <option value="{{ vals.courseId }}">{{ vals.courseId }} : {{ vals.title }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Section</label>
                        <div class="col-xs-7 selectContainer">
                            <select id="sectionSelect" class="form-control" name="section"
                                    onchange='updateStudentsCombo($(this).find("option:selected").val())'>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Report on</label>
                        <div class="col-xs-7 btnContainer">
                            <button id="btnSectionReport" type="button" class="btn btn-primary"
                                    onclick='viewSectionReport()'>
                                Student vs. Grade
                            </button>
                            <button id="btnSectionGradeReport" type="button" class="btn btn-primary"
                                    onclick='viewSectionGradeReport()'>
                                Grade vs. No. of Students
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Students</label>
                        <div class="col-xs-7 selectContainer">
                            <select id="studentSelect" class="form-control" name="student">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Report on</label>
                        <div class="col-xs-7 btnContainer">
                            <button id="btnStudentReport" type="button" class="btn btn-primary"
                                    onclick='viewStudentReport()'>
                                Student
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}