{% extends '@Teacher/Default/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/jquery.bootgrid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/chartist.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/custom/css/chart.css') }}">
{% endblock %}

{% block javaScripts %}
    <script src="{{ asset('assets/vendor/js/jquery.bootgrid.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/js/chartist.min.js') }}"></script>
    <script>
        var grid = $("#grid-basic").bootgrid({
            selection: false
        });
        var chart = new Chartist.Line('#chart',
                {
                    labels: [{% for key, val in assignments %}"{{ key }}",{% endfor %}],
                    series: [[{% for key, val in assignments %}{{ val }},{% endfor %}]]
                },
                {
                    lineSmooth: Chartist.Interpolation.simple({divisor: 2}),
                    fullWidth: true,
                    chartPadding: {right: 20},
                    low: 0
                });
    </script>
{% endblock %}

{% block title %}
    WEB-CAG : Report
{% endblock %}

{% block navbarlistitems %}
{% endblock %}

{% block body %}
    <div id="chart" class="chart"></div>
    <div class="container-fluid">
        <div class="table-responsive">
            <table id="grid-basic" class="table table-hover">
                <thead>
                <tr>
                    <th data-column-id="id">Assignment ID</th>
                    <th data-column-id="title">Assignment Title</th>
                    <th data-column-id="grade">Grade</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in assignments %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ titles[key] }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}