<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>
        {% block title %}
            WEB-CAG : Admin
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/bootstrap-dialog.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/custom/css/simple-sidebar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/custom/css/index.css') }}">
    <style>
        .background {
            background-image: url("{{ asset("assets/custom/img/white-wallpaper.jpg") }}");
        }
    </style>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="{{ path('admin.dashboard') }}">WEB-CAG</a>
            </li>
            <li>
                <a href="{{ path('admin.viewCourses') }}">Courses</a>
            </li>
            <li>
                <a href="{{ path('admin.viewAllSections') }}">Sections</a>
            </li>
            <li>
                <a href="{{ path('admin.viewTeachers') }}">Teachers</a>
            </li>
            <li>
                <a href="{{ path('admin.viewStudents') }}">Students</a>
            </li>
            <hr>
            <li>
                <a target="_blank" href="">Logged in as {{ app.user.username }}</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Navbar -->
    <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top navbar-custom navbar-with-sidebar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-items">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <button id="sidebar-toggle" type="button" class="sidebar-toggle">
                    <span class="cs-icon-bar"></span>
                    <span class="cs-icon-bar"></span>
                    <span class="cs-icon-bar"></span>
                </button>
            </div>
            <div id="navbar-items" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button class="btn btn-primary navbar-btn navbar-custom-button" onclick="window.history.back();">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            Back
                        </button>
                    </li>
                    {% block navbarlistitems %}
                    {% endblock %}
                </ul>
                <ul id="navbar-items" class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('admin.updateProfile') }}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                    <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /#navbar-wrapper -->
    <!-- Hidden Content -->
    <input type="hidden" id="refresh" value="no">
    <!-- /#hidden-content-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% block body %}
            <div align="center" class="background">
                <img src="{{ asset('assets/custom/img/web-cag-logo-dark.png') }}" alt="logo" style="width:150px; height:150px;" class="logo">
                <h1>Welcome to WEB-CAG</h1>
            </div>
        {% endblock %}
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- load JavaScripts -->
<script src="{{ asset('assets/vendor/js/pace.min.js') }}"></script>
<script src="{{ asset('assets/vendor/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/vendor/js/bootstrap-dialog.min.js') }}"></script>
<script src="{{ asset('assets/custom/js/index.js') }}"></script>
<script>
    $(document).ready(function (e) {
        var $input = $('#refresh');
        if ($input.val() != 'yes') {
            {% if app.session.flashBag.has('error') %}
            {% for msg in app.session.flashBag.get('error') %}
            showError("{{ msg }}");
            {% endfor %}
            {% endif %}
            {% if app.session.flashBag.has('success') %}
            {% for msg in app.session.flashBag.get('success') %}
            showSuccess("{{ msg }}");
            {% endfor %}
            {% endif %}
            $input.val('yes');
        }
    });
</script>
{% block javaScripts %}
{% endblock %}
</body>
</html>
