{% form_theme form '@App/default/bootstrap_3_layout.html.twig' %}

{% extends '@Student/Default/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/vendor/css/codemirror.css') }}>
    <link rel="stylesheet" href={{ asset('assets/vendor/css/jquery.steps.css') }}>
    <link rel="stylesheet" href={{ asset('assets/custom/css/codemirror.css') }}>
    <link rel="stylesheet" href={{ asset('assets/custom/css/attempt.css') }}>
{% endblock %}

{% block javaScripts %}
    <script src={{ asset('assets/vendor/js/codemirror.js') }}></script>
    <script src={{ asset('assets/vendor/js/python.js') }}></script>
    <script src={{ asset('assets/vendor/js/jquery.steps.min.js') }}></script>

    <script>
        $("#form-widget").steps({
            headerTag: "header",
            bodyTag: "section",
            transitionEffect: "fade",
            autoFocus: false,
            titleTemplate: '<span class="number">#index#</span> #title#',
            saveState: true,
            enableAllSteps: true,
            labels: {
                cancel: "Cancel",
                current: "",
                pagination: "",
                finish: "Submit",
                next: "Next",
                previous: "Previous",
                loading: "Loading ..."
            },
            onFinished: function (event, currentIndex) {
                $("#attempt_submit").click();
            }
        });
        $("textarea[id^='attempt_answers']").each(function (index) {
            var cm = CodeMirror.fromTextArea($(this).get(0), {
                mode: {
                    name: "python",
                    version: 3,
                    singleLineStringErrors: false
                },
                lineNumbers: true,
                indentUnit: 4,
                matchBrackets: true
            });
            cm.setSize("100%", 450);
        });

        // Retrieve a CodeMirror Instance via jQuery.
        function getCodeMirror(target) {
            var $target = target instanceof jQuery ? target : $(target);
            if ($target.length === 0) {
                throw new Error('Element does not reference a CodeMirror instance.');
            }

            if (!$target.hasClass('CodeMirror')) {
                if ($target.is('textarea')) {
                    $target = $target.next('.CodeMirror');
                }
            }

            return $target.get(0).CodeMirror;
        }

        function runTest(e) {
            var editorSelector = '#attempt_answers_' + e + '_script';
            var scr = getCodeMirror(editorSelector + ' + .CodeMirror').getDoc().getValue();
            $.post("{{ path('student.runScript') }}", {script: scr}, function (result) {
                $('#run-script-info_' + e + " .alert").text(result);
            });
        }
    </script>
{% endblock %}

{% block title %}
    WEB-CAG : Attempt
{% endblock %}

{% block navbarlistitems %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="page-header">
            <h1>{{ attempt.assignment.title }}  <small>{{ attempt.assignment.description }}</small></h1>
        </div>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div id="form-widget">
            {% for item in form.answers %}
                <header>{#{{ form_label(item) }}#}</header>
                <section>
                    {{ form_errors(item) }}
                    {{ form_widget(item) }}
                    <div class="col-md-1">
                        <button class="btn btn-default" type="button" onclick="runTest({{ item.vars.name }})" style="height: 40px"><i
                                    class="fa fa-play" aria-hidden="true"></i> Check
                        </button>
                    </div>
                    <div class="col-md-11">
                        <div id="run-script-info_{{ item.vars.name }}">
                            <div class="alert alert-success" role="alert" style="height: 40px"></div>
                        </div>
                    </div>
                </section>
            {% endfor %}
            {% do form.answers.setRendered %}
            {#{% do form.submit.setRendered %}#}
            {#<header></header>#}
            {#<section>#}
            {#</section>#}
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}