{% extends '@Admin/Default/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/jquery.bootgrid.min.css') }}">
{% endblock %}

{% block javaScripts %}
    <script src="{{ asset('assets/vendor/js/jquery.bootgrid.min.js') }}"></script>
    <script>
        var grid = $("#grid-basic").bootgrid({
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-md btn-warning command-edit\" data-row-id=\'" + row.id + "\'><span class=\"fa fa-pencil\"></span></button> " +
                            "<button type=\"button\" class=\"btn btn-md btn-danger command-delete\" data-row-id=\'" + row.id + "\'><span class=\"fa fa-trash-o\"></span></button> ";
                }
            }
        });
        grid.on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".command-edit").on("click", function (e) {
                var route = "{{ path('admin.updateSection', { 'id': "__placeholder" }) }}";
                window.location = route.replace("__placeholder", $(this).data("row-id"));
            }).end().find(".command-delete").on("click", function (e) {
                var id = $(this).data("row-id");
                confirmDelete(id,
                        function () {
                            var route = "{{ path('admin.deleteSectionReturnToAllSections', { 'id': "__placeholder" }) }}";
                            window.location.href = route.replace("__placeholder", id);
                        }
                )
            });
        });
    </script>
{% endblock %}

{% block title %}
    WEB-CAG : Section
{% endblock %}

{% block navbarlistitems %}
    <li>
        <button type="button" class="btn btn-success navbar-btn navbar-custom-button"
                onclick='window.location.href= "{{ path('admin.createSection') }}"'>
            Create Section
        </button>
    </li>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="table-responsive">
            <table id="grid-basic" class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th data-column-id="id" data-identifier="true">Id</th>
                    <th data-column-id="batch">Batch</th>
                    <th data-column-id="year" data-type="numeric">year</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false" data-width=10 data-style="25px">Section</th>
                </tr>
                </thead>
                <tbody>
                {% for section in sections %}
                    <tr>
                        <td>{{ section.sectionId }}</td>
                        <td>{{ section.batch }}</td>
                        <td>{{ section.year }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}