{% extends '@Student/Default/index.html.twig' %}

{% block stylesheets %}
    <style>
        .panel-body {
            font-size: 18px;
        }

        #lblAssignmentDescription {
            color: #ffffff
        }

        .label {
            height: 25px;
            font-size: 20px;
        }
    </style>
{% endblock %}

{% block javaScripts %}
{% endblock %}

{% block title %}
    WEB-CAG : Assignment
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="assignment-container">
            <div class="panel  panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="page-header">
                            <h1>&nbsp;{{ assignment.title }} <small id="lblAssignmentDescription">{{ assignment.description }}</small></h1>
                        </div>
                    </div>
                    <div class="row" align="center">
                        <div class="col-md-4">
                            <span class="label label-success">Enable From: {{ assignment.enableDate | date('Y-m-d') }}</span>
                        </div>
                        <div class="col-md-4">
                            <span class="label label-warning">Disable On: {{ assignment.disableDate | date('Y-m-d') }}</span>
                        </div>
                        <div class="col-md-4">
                            <span class="label  {% if attemptsLeft==0 %}label-danger{% else %}label-primary{% endif %}">Attempts Left: {{ attemptsLeft }}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <button class="btn btn-primary"
                            onclick="location.href = '{{ path('student.attemptAssignment', {'assignmentId': assignment.assignmentId}) }}';">
                        Attempt
                    </button>
                </div>
                <div class="panel-footer">
                    <table class="table table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>Attempt</th>
                            <th>Grade</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for attempt in attempts %}
                            <tr>
                                <td>{{ attempt.attemptNo }}</td>
                                <td>{{ attempt.grade }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
