.card-group {
    padding: 10px;
    float: left;
    width : 100%;
    height : auto;
    border-radius: 5px;
    margin: 5px;
    background-color: #3c763d;
}

.card-group > .header {
    font-size: 25px;
    color: #FFFFFF;
    margin:5px;
}

.card-group > .card {
    float: left;
    height: 200px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: #1b6d85;
}

.card-group > .card > .header {
    font-size: 12px;
    color: #FFFFFF;
    margin:5px;
}

@media (min-width: 500px)  {
    .card-group > .card {
        width: 250px;
    }
}