.navbar-custom {
    /*Un/decorate navbar*/
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 1005;
    /*Set position to fixed - when scrolling the DOM*/
    position: fixed;
    /*When the sidebar is not visible :- left is zero*/
    left: 250px;
    background: #25333D;
    /*Transition Animation*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-with-sidebar {
    /*Set left of nav bar when sidebar is visible*/
    left: 0;
    /*Animation*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    top: 50px;
}

.navbar-custom-button {
    position: relative;
    float: left;
    padding: 8px 8px;
    margin: 8px 8px 8px 0px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 4px;
    color: white;
    height: 35px;
}

.hidden {
    display: none
}

.navbar-inverse .sidebar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #333;
}

.navbar-inverse .sidebar-toggle {
    border-color: #333;
}

.sidebar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin: 8px 15px 8px 15px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-inverse .sidebar-toggle .cs-icon-bar {
    background-color: #fff;
}

.sidebar-toggle .cs-icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 3px;
}

.navbar-toggle {
    color: white;
}

@media (min-width: 768px) {
    .navbar-custom {
        left: 0;
    }

    .navbar-with-sidebar {
        left: 250px;
    }

    #page-content-wrapper {
        top: 50px;
    }

    .sidebar-toggle {
        margin-left: 0;
    }
}


/*------------------------------------------- ANIMATIONS -------------------------------------------------------------*/

.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.fadein {
    opacity: 1;
}

.height-transition {
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
    overflow-y: hidden;
}

.height-transition-hidden {
    max-height: 0;
}


/*-------------------------------------------- TABLE -----------------------------------------------------------------*/

.ul-style {
    list-style: none;
    padding: 0;
}

tbody {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
    cursor: pointer
}

td {
    min-width: 150px;
}

/*--------------------------------------------- PACE -----------------------------------------------------------------*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;

    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);

    -webkit-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}

.pace.pace-active {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 10px;
    background: #29d;

    pointer-events: none;
}