html, body {
    background-color: #25333D;
    height: 100%;
}

.form-signin > .form-control {
    margin-top: 25px;
    max-width: 300px;
    background-color: #25333D;
    color: #a4a4a4;
}

.form-signin > .form-control:hover {
    background-color: #32404a;
}

.form-signin > .form-control:focus {
    border-color: #6EDAA1;
}

.form-signin > .btn-signin {
    margin-top: 25px;
    max-width: 300px;
    border-color: transparent;
    background-color: #6EDAA1;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.web-cag > .animate-text {
    color: #2c633d;
    font-size: 30px;
    height: 30px
}

.logo {
    -webkit-filter : hue-rotate(80deg);
    filter : hue-rotate(80deg);
}