{% form_theme form '@App/default/bootstrap-forms.html.twig' %}
{% extends '@Teacher/Default/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/custom/css/collection-list.css') }}">
{% endblock %}

{% block javaScripts %}
    <script>var itemCount = {{ form.questions | length }};</script>
    <script src="{{ asset('assets/custom/js/collection-list.js') }}"></script>
{% endblock %}

{% block title %}
    WEB-CAG : Assignments
{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">Form</div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.attemptsAllowed) }}
                {{ form_row(form.totalMarksAllowed) }}
                {{ form_row(form.enableDate) }}
                {{ form_row(form.disableDate) }}
                <div class="form-group {% if form.questions.vars.valid==false %}has-error{% endif %}">
                    {#<div class="col-sm-2">#}{{ form_label(form.questions) }}{#</div>#}
                    <div class="col-sm-10">
                        <ul id="collection-list" class="collection-list"
                            data-prototype="{{ form_widget(form.questions.vars.prototype)|e }}">
                            {% for item in form.questions %}
                                <div>
                                    <div class="col-sm-11 no-padding">
                                        <li class="collection-item">
                                            {{ form_widget(item) }}
                                            {{ form_errors(item) }}
                                        </li>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-danger" onclick="$(this).parent().parent().remove();">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                        <div class="col-sm-11 no-padding">
                            {{ form_errors(form.questions) }}
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button id="btn-add-collection-item" type="button" class="btn btn-success">Add</button>
                    </div>
                </div>
                {% do form.questions.setRendered %}
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}