{% form_theme form '@App/default/bootstrap-forms.html.twig' %}
{% extends '@Teacher/Default/index.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">Form</div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}