{% extends '@Teacher/Default/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/jquery.bootgrid.min.css') }}">
{% endblock %}

{% block javaScripts %}
    <script src="{{ asset('assets/vendor/js/jquery.bootgrid.min.js') }}"></script>
    <script>
        var grid = $("#grid-basic").bootgrid({
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-md btn-warning command-edit\" data-row-id=\'" + row.id + "\'><span class=\"fa fa-pencil\"></span></button> " +
                            "<button type=\"button\" class=\"btn btn-md btn-danger command-delete\" data-row-id=\'" + row.id + "\'><span class=\"fa fa-trash-o\"></span></button> ";
                }
            }
        });
        grid.on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".command-edit").on("click", function (e) {
                var route = "{{ path('teacher.updateQuestion', {'questionID': '__placeholder'}) }}";
                window.location = route.replace("__placeholder", $(this).data("row-id"));
            }).end().find(".command-delete").on("click", function (e) {
                var id = $(this).data("row-id");
                confirmDelete(id,
                        function () {
                            var route = "{{ path('teacher.deleteQuestion', {'questionIDs': '__placeholder'}) }}";
                            window.location.href = route.replace("__placeholder", id);
                        }
                )
            });
        });
    </script>
{% endblock %}

{% block title %}
    WEB-CAG : Questions
{% endblock %}

{% block navbarlistitems %}
    <li>
        <button type="button" class="btn btn-success navbar-btn navbar-custom-button" onclick="window.location.href='{{ path('teacher.createQuestion', {'courseId': courseId}) }}'">
            Create Question
        </button>
    </li>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="table-responsive">
            <table id="grid-basic" class="table table-hover">
                <thead>
                <tr>
                    <th data-column-id="id" data-identifier="true">ID</th>
                    <th data-column-id="description" data-width="80%">Description</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false" data-width=10%>Question</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.questionId }}</td>
                        <td>{{ question.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}