{% form_theme form '@App/default/bootstrap-forms.html.twig' %}
{% extends '@Teacher/Default/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/vendor/css/codemirror.css') }}>
    <link rel="stylesheet" href={{ asset('assets/custom/css/codemirror.css') }}>
{% endblock %}

{% block javaScripts %}
    <script src={{ asset('assets/vendor/js/codemirror.js') }}></script>
    <script src={{ asset('assets/vendor/js/python.js') }}></script>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("question_testCases"), {
            mode: {
                name: "python",
                version: 3,
                singleLineStringErrors: false
            },
//            lineNumbers: true,
            indentUnit: 4,
            lineNumbers: true,
            matchBrackets: true
        });
        function addTestCase() {
            if (editor.getValue() != "") editor.setValue(editor.getValue() + "\n");
            editor.setValue(editor.getValue() + "def testCaseName(self):\n\tself.assertEqual(someFunction(), \"SomeValue\")");
        }
        function addIOTestCase() {
            if (editor.getValue() != "") editor.setValue(editor.getValue() + "\n");
            editor.setValue(editor.getValue() + "def testCaseName(self):\n\t" +
                    "temp = sys.stdout\n\t" +
                    "result = StringIO()\n\t" +
                    "sys.stdout = result\n\t" +
                    "someFunction()\n\t" +
                    "sys.stdout = temp\n\t" +
                    "output = result.getvalue().strip()\n\t" +
                    "self.assertEqual(output, 'SomeValue')");
        }
        $(window).bind('keydown', function(event) {
            if (event.ctrlKey || event.metaKey) {
                switch (String.fromCharCode(event.which).toLowerCase()) {
                    case 's':
                        event.preventDefault();
                        $("#question_submit").click();
                        break;
                }
            }
        });
    </script>
{% endblock %}

{% block title %}
    WEB-CAG : Question
{% endblock %}

{% block navbarlistitems %}
    <li>
        <button id="btn-add-test" type="button" class="btn btn-success navbar-btn navbar-custom-button"
                onclick="addTestCase()">
            Add Functional Test Case
        </button>
    </li>
    <li>
        <button id="btn-add-io-test" type="button" class="btn btn-success navbar-btn navbar-custom-button"
                onclick="addIOTestCase()">
            Add IO Test Case
        </button>
    </li>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">Form</div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}