{% extends '@Admin/Default/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/jquery.bootgrid.min.css') }}">
{% endblock %}

{% block javaScripts %}
    <script src="{{ asset('assets/vendor/js/jquery.bootgrid.min.js') }}"></script>
    <script>
        var grid = $("#grid-basic").bootgrid({
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-md btn-warning command-edit\" data-row-id=\'" + row.id + "\'><span class=\"fa fa-pencil\"></span></button> " +
                            "<button type=\"button\" class=\"btn btn-md btn-danger command-delete\" data-row-id=\'" + row.id + "\'><span class=\"fa fa-trash-o\"></span></button> ";
                }
            }
        });
        grid.on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".command-edit").on("click", function (e) {
                var route = "{{ path('admin.updateTeachers', { 'id': "__placeholder" }) }}";
                window.location = route.replace("__placeholder", $(this).data("row-id"));
            }).end().find(".command-delete").on("click", function (e) {
                var id = $(this).data("row-id");
                confirmDelete(id,
                        function () {
                            var route = "{{ path('admin.deleteTeachers', { 'username': "__placeholder" }) }}";
                            window.location.href = route.replace("__placeholder", id);
                        }
                )
            });
        });
    </script>
{% endblock %}

{% block title %}
    WEB-CAG : Teacher
{% endblock %}

{% block navbarlistitems %}
    <li>
        <button type="button" class="btn btn-success navbar-btn navbar-custom-button"
                onclick='window.location.href= "{{ path('admin.createTeacher') }}"'>
            Create Teacher
        </button>
    </li>
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="table-responsive">
            <table id="grid-basic" class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th data-column-id="id" data-identifier="true">Username</th>
                    <th data-column-id="firstName">First name</th>
                    <th data-column-id="lastName">Last name</th>
                    <th data-column-id="email">E-Mail</th>
                    <th data-column-id="active">Active</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false" data-width=10%>Teacher</th>
                </tr>
                </thead>
                <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.username }}</td>
                        <td>{{ teacher.firstName }}</td>
                        <td>{{ teacher.lastname }}</td>
                        <td>{{ teacher.email }}</td>
                        {% if teacher.isActive == 0 %}
                            <td>False</td>
                        {% else %}
                            <td>True</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}