{% form_theme form '@App/default/bootstrap-forms.html.twig' %}
{% extends '@Admin/Default/index.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}