{% extends '@Student/Default/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/jquery.bootgrid.min.css') }}">
{% endblock %}

{% block javaScripts %}
    <script src="{{ asset('assets/vendor/js/jquery.bootgrid.min.js') }}"></script>
    <script>
        var grid = $("#grid-basic").bootgrid({
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-md btn-info command-view\" data-row-id=\'" + row.id + "\'><span class=\"fa fa-eye\"></span></button> ";
                }
            }
        });
        grid.on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".command-view").on("click", function (e) {
                var route = "{{ path('student.viewAssignments', {'sectionId': '__placeholder'}) }}";
                window.location = route.replace("__placeholder", $(this).data("row-id"));
            });
        });
    </script>
{% endblock %}

{% block title %}
    WEB-CAG : Sections
{% endblock %}

{% block navbarlistitems %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="table-responsive">
            <table id="grid-basic" class="table table-hover">
                <thead>
                <tr>
                    <th data-column-id="id" data-identifier="true">ID</th>
                    {#<th data-column-id="title">Batch</th>#}
                    <th data-column-id="year">Year</th>
                    <th data-column-id="course">Course ID</th>
                    <th data-column-id="title">Title</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false" data-width=10%>Assignments</th>
                </tr>
                </thead>
                <tbody >
                {% for section in sections %}
                    <tr>
                        <td>{{ section.sectionId }}</td>
                        {#<td>{{ section.batch }}</td>#}
                        <td>{{ section.year }}</td>
                        <td>{{ section.course.courseId }}</td>
                        <td>{{ section.course.title }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}